<!DOCTYPE html>
<html>
<head>
  <meta property="og:type" content="video.other">
  <meta property="twitter:card" content="player">
  <meta property="twitter:player" content="<%= url %>">
  <meta property="twitter:player:stream" content="<%= url %>">
  <meta property="twitter:player:stream:content_type" content="text/mp4">
  <meta property="og:video" content="<%= url %>">
  <meta property="og:video:type" content="text/mp4">
  <!--<meta property="og:video:width" content="<%# width %>">
  <meta property="og:video:height" content="<%# height %>">
  <meta name="twitter:image" content="<%# thumbnail %>">-->
</head>
<body>
  <video autoplay loop muted playsinline class="image" width="100%"><source src="<%= url %>"></video>
</body>
</html>
