<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Embedder</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/login.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
	<body>
		<section class="prompt">
			<h3>Embedder</h3>
			<h1>Sign in</h1>
			<form action="/login/password" method="post">
				<section>
					<label for="username">Username</label>
					<input id="username" name="username" type="text" autocomplete="username" required autofocus>
				</section>
				<section>
					<label for="current-password">Password</label>
					<input id="current-password" name="password" type="password" autocomplete="current-password" required>
				</section>
				<button type="submit">Sign in</button>
			</form>
			<hr>
		</section>
		<footer class="info">
			<p><a href="https://l.nekomimi.pet/project">Created by Wavering Ana</a></p>
			<p><a href="https://github.com/WaveringAna/Embedder">Github</a></p>
		</footer>
	</body>
</html>
