.embedderhome {
	margin: 130px 0 40px 0;
	position: relative;
}

.embedderhome h1 {
	position: absolute;
	top: -140px;
	width: 100%;
	font-size: 80px;
	font-weight: 200;
	text-align: center;
	color: #b83f45;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.embedderhome section {
	padding-top: 1px;
	text-align: center;
}

.embedderhome h2 {
	padding-bottom: 48px;
	font-size: 28px;
	font-weight: 300;
	line-height: 1.5;
}

.embedderhome .button {
	padding: 13px 45px;
	font-size: 16px;
	font-weight: 500;
	color: white;
	border-radius: 5px;
	background: #d83f45;
}

.embedderhome a.button {
	text-decoration: none;
}
