<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Embedder</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src="https://unpkg.com/htmx.org@1.9.8"></script>
</head>

<body data-process-video="<%= processVideo %>">
  <section class="embedderapp">
    <header class="header">
      <h1>Embedder</h1>
      <nav class="nav">
        <ul class="left-ul">
          <li class="user"><%= user.name || user.username %></li>
          <li>
            <form action="/logout" method="post">
              <button class="logout" type="submit"></button>
            </form>
          </li>
          <% if (user.name == "admin" || user.username == "admin") { %>
          <li>
            <button class="adduser" onclick="location.href='/adduser';"></a></button>
          </li>
          <% } %>
        </ul>
        <form autocomplete="one-time-code">
          <!-- Chrome is stupid and will autofill the user name into the search bar sometimes-->
          <input type="text" name="user" value="<%= user.username %>" style="display:none;"/>
          <input autocomplete="one-time-code" type="text" id="search" name="search" placeholder="Search" value="" />
        </form>
      </nav>
    </header>
    <form encType="multipart/form-data" hx-target="#embedder-list" hx-swap="innerHTML">
      <div id="dropArea">
        <p class="dragregion">Upload a file, copy paste, or drag n' drop into the dashed region</p>
        <div id="gallery"></div>
        <p class="dragregion"><input class="" type="file" id="fileupload" name="fileupload"><input type="button" value="Upload" id="submit" onclick="uploadFile()"></p>
        <br>
        <br>
        <p class="dragregion">
          Select file expiration date:
          <select name="expire" id="expire">
            <option value="0.00069">1 minute</option>
            <option value="0.00347">5 minutes</option>
            <option value="0.0417">1 hour</option>
            <option value="0.25">6 hours</option>
            <option value="1">1 day</option>
            <option value="7">7 days</option>
            <option value="14">14 days</option>
            <option value="30">30 days</option>
            <option selected value="">never</option>
          </select>
        </p>
        <p class="dragregion">Click the file to copy the url</p>
      </div>
      <div id="uploadProgressContainer" style="display:none;">
        <p>Uploading: <span id="uploadPercent">0%</span></p>
        <div style="width:100%; background:#333;">
          <div id="uploadBar" style="width:0%; height:8px; background:#c00;"></div>
        </div>
      </div>
    </form>
    <section class="main">
      <ul id="embedder-list" class="embedder-list" hx-get="/media-list" hx-trigger="load"></ul>
    </section>
  </section>
  <footer class="info">
    <p><a href="https://l.nekomimi.pet/project">Created by Wavering Ana</a></p>
    <p><a href="https://github.com/WaveringAna/Embedder">Github</a></p>
  </footer>
  <script src="/js/index.js"></script>
  <script>
   document.body.addEventListener('htmx:afterSettle', function(event) {

   });
 </script>
</body>
</html>